
.h1{
margin-left: 40px;
padding-bottom: 1px;
color: cornsilk;}

.header{background-color: rgba(255, 0, 0, 0.788);
    position: relative;
    padding: 0px,0px,0px,0px;
    margin: 0px,0px,0px,0px;
}

.nav ul{
    display: inline;
    
}

.pictureslocation{position: relative;
    left: 40px;}
.pictureslocation2{position: relative;
    left: 40px;}
.footer{
    padding: 10px;
color: cornsilk;
margin-left: 40px;
}
#liked{
    background-color:cornsilk;
    cursor: pointer;
}

.pictureslocationslider{position: relative;
    left: 40px;

}

#liked2{
    background-color: cornsilk;
    cursor: pointer;
}

#liked3{
    background-color: cornsilk;
    cursor: pointer;
}

#liked4{
    background-color: cornsilk;
    cursor: pointer;
}

#liked5{
    background-color: cornsilk;
    cursor: pointer;
}

#liked6{
    background-color: cornsilk;
    cursor: pointer;
}

#liked7{
    background-color: cornsilk;
    cursor: pointer;
}

#liked8{
    background-color: cornsilk;
    cursor: pointer;
}

#liked9{
    background-color: cornsilk;
    cursor: pointer;
}

#liked10{
    background-color: cornsilk;
    cursor: pointer;
}

#liked11{
    background-color: cornsilk;
    cursor: pointer;
}

#liked12{
    background-color: cornsilk;
    cursor: pointer;
}

#liked13{
    background-color: cornsilk;
    cursor: pointer;
}

#liked14{
    background-color: cornsilk;
    cursor: pointer;
}

.footer2{background-color: rgba(255, 0, 0, 0.788);
}

#likednew1{
    background-color: cornsilk;
    cursor: pointer;
}


